:root {
	--black: rgba(0,0,0,1);
	--black-01: rgba(0,0,0,0.1);
	--black-02: rgba(0,0,0,0.2);
	--black-03: rgba(0,0,0,0.3);
	--black-04: rgba(0,0,0,0.4);
	--black-05: rgba(0,0,0,0.5);
	--black-06: rgba(0,0,0,0.6);
	--black-07: rgba(0,0,0,0.7);
	--black-08: rgba(0,0,0,0.8);
	--black-09: rgba(0,0,0,0.9);

	--white: rgba(255,255,255,1);
	--white-01: rgba(255,255,255,0.1);
	--white-02: rgba(255,255,255,0.2);
	--white-03: rgba(255,255,255,0.3);
	--white-04: rgba(255,255,255,0.4);
	--white-05: rgba(255,255,255,0.5);
	--white-06: rgba(255,255,255,0.6);
	--white-07: rgba(255,255,255,0.7);
	--white-08: rgba(255,255,255,0.8);
	--white-09: rgba(255,255,255,0.9);

	--debug: rgba(255,0,0,1);

	--lapis: rgba(39, 93, 173, 1);
	--focus-lapis: rgba(30, 84, 164, 1);
	--hover-lapis: rgba(61, 125, 205, 1);
	--visited-lapis: rgba(15, 69, 149, 1);
	--fave-hover-lapis: rgba(77, 141, 221, 1);

	--indi-default: rgba(75, 78, 109, 1);
	--indi-09: rgba(75, 78, 109, 0.9);
	--indi-08: rgba(75, 78, 109, 0.8);
	--indi-07: rgba(75, 78, 109, 0.7);
	--indi-06: rgba(75, 78, 109, 0.6);
	--indi-05: rgba(75, 78, 109, 0.5);
	--indi-04: rgba(75, 78, 109, 0.4);
	--indi-03: rgba(75, 78, 109, 0.3);
	--indi-02: rgba(75, 78, 109, 0.2);
	--indi-01: rgba(75, 78, 109, 0.1);

	--nav-color-1:  rgba(197, 34, 51, 1);
	--nav-color-2:  rgba(248, 216, 0,1);
	--nav-color-3:  rgba(0,96,0,1);
	--nav-color-4:  rgba(39, 93, 173, 1);
	--nav-color-random:  rgba(0, 160, 222,1);

	--red: rgba(255,0,0,1);
	--blue: rgba(32,96,255,1);
	--orange: rgba(255, 128, 0, 1);
	--purple: rgba(160,0,160,1);

	--res-skills-header: rgba(197, 34, 51, 1);
	--voy: rgba(128,0,0,1);

	--elevation-01: 
		0px 0px 10px 0px var(--black-01),
		0px 30px 30px 30px var(--black-01),
		0px -10px 30px 0px var(--black-01);
}

*
{
	box-sizing:border-box;
	vertical-align:top;
	margin: 0px;
	padding: 0px;
}
html, body
{
	width:100%;
	height:100%;
	min-width:280px;
}
body
{
	background-color: var(--default-white);
	color: var(--default-black);
	font-family: sans-serif, -system-ui;
/*	font-weight:normal;
	font-size: 100%;
	letter-spacing:-0.2px;*/
	overflow:auto;
	vertical-align:top;
}

:focus {
	outline: dotted 1px var(--focus-lapis);
}
::placeholder
{
	font-style:italic;
	font-size:16px;
	color: rgba(128,128,128,1);
}

.ra-root
{
	flex: 1 1 100%;
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;
	overflow:auto;

}
main
{
	flex: 2 1 100%;
	overflow:auto;
	display:flex;
	justify-content:center;
}